package {{apiPackage}};

public class ApiException extends Exception{
    // adding a dummy comment here
    private int code;
    public ApiException (int code, String msg) {
        super(msg);
        this.code = code;
    }
}
